
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name</p>
    <a asp-action="logout" asp-controller="home">Logout</a>
}
